<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nostrum ad facere dolore totam impedit saepe aliquam, hic sint, perferendis nesciunt aliquid, esse distinctio ex voluptate sequi voluptatum. Dolorem, expedita.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis ipsam possimus similique necessitatibus incidunt expedita, natus odit dolor quisquam tempore, saepe a placeat illo provident autem. Dicta rerum molestiae eum?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur quos veniam voluptatem natus quia aspernatur, facilis quibusdam suscipit. Dolorum mollitia esse nesciunt expedita iste aliquam similique ipsam doloribus iusto totam!
    </p>

</article>
