

<header>
<ul>
  <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
  <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  <li id="logo"><a href="#">AC</a></li>
  <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
  <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
</ul>
</header>




<section id="content"> 


  <!--[routerLink]="['/home']" : es la manera de enlazar un link en Angular-->
  <!--[routerLinkActive]="['actived']" : Cuando un boton del menu este activado, se añadira la clase css actived-->
  <!--Para que las rutas finalmente funcionen, debemos usar un directiva llamada router-outlet.
    Cuando se invoque una ruta en especifico en el navegador, router-outlet se encargara 
    de ver que ruta hay y que componente va a cargar-->
    <router-outlet></router-outlet>  
</section>


<footer>
  Web de Prueba - Blog de Proyectos
</footer>
